
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#banner-cover {
  position: relative;
  overflow: hidden;
  padding-top: 3rem;
}

#banner-cover>.slider-banner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    flex: auto;
    box-sizing: border-box;
}
.swiper-container {
    align-items: center;
  }
  .swiper-slide{
    width: 1000px;
    align-items: center;
  }

  @media only screen and (max-width: 1000px) and (min-width:481px) {
    div {
        display:block;
    }

    .swiper {
        position: relative;
        overflow: hidden;
        border-radius: 1em;
        transform: translateZ(0);
        margin: 1em;
        max-height: 280px;
        width: 100%;
    }

    .swiper-slide {
        flex: none;
        width: 100%;
    }

    .swiper-slide .img {
        display: block;
        position: relative;
    }
}

@media only screen and (max-width: 320px) {
    .swiper-slide {
        flex:none;
        width: 100%;
        max-height: 170px
    }
}

@media only screen and (max-width: 480px) and (min-width:321px) {
    .swiper {
        border-radius:8px
    }

    .swiper-slide {
        flex: none;
        width: 100%;
        max-height: 150px
    }

    .swiper-slide .img {
        display: block;
        position: relative
    }
}

@media only screen and (min-width: 1001px) {
    div {
        display:block;
    }

    .swiper {
        position: relative;
        padding: 2em;
        overflow: hidden;
        max-height: 365px
    }

    .swiper-wrapper {
        display: flex
    }

    .swiper-slide:not(.swiper-slide-active) {
        transform: scale(.7);
        opacity: .5;
        pointer-events: none
    }

    .swiper-slide {
        flex: none;
        width: 100%;
        max-width: 1000px;
        transition: .3s;
        max-height: 365px
    }

    .swiper-slide .img {
        display: block;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        border-radius: 1em;
        transform: translateZ(0)
    }

    .swiper-slide-prev {
        transform: translateX(77.4%) scale(.7)!important
    }

    .swiper-slide-active {
        position: relative;
        z-index: 2
    }

    .swiper-slide-next {
        transform: translateX(-77.4%) scale(.7)!important
    }
}
  